<form class="form-container" (ngSubmit) ="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <div class="form-div-container">
        <label for="title">Title:</label>
        <input type="text" placeholder="Type the title" formControlName="title" required>
        <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="title.errors?.['required']">Title is required</p>
        </div>
    </div>

    <div class="form-div-container">
        <label for="description">Description:</label>
        <textarea placeholder="What happened?" formControlName="description" required></textarea>
        <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="description.errors?.['required']">Description is required</p>
        </div>
    </div>

    <div class="form-div-container">
        <label for="image">Share the best photo:</label>
        <input type="file">
    </div>

    <input type="submit" value="{{btnText}}">
</form>

